body{
    widows: 50%;
    height: 50%;

}
.header{
    background-color: #080303; 
    height: 50px;
}

main{
width: 780px;
float: left; 
position: relative;
}

h1{
  font-size: 20px;
  color: #066a75;
  padding: 2px 0;
  font-family: Arial,sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
}
h1:after{
  content: ' ';
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 10px;
  background: -webkit-linear-gradient(left, rgba(147,184,189,1) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
  background: linear-gradient(left, rgba(147,184,189,1) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
}

p{
  margin-bottom:15px;
}
p:first-child{
  margin: 0px;
}
label{
  color: #405c60;
  position: relative;
}

input:invalid {
  border: 1px dashed red;
}
s
input:valid {
  border: 1px solid black;
}

input:not([type="checkbox"]){
  width: 60%;
  margin-top: 4px;
  padding: 10px;    
  border: 1px solid #1b1a1a;
  
  -webkit-border-radius: 3px;
  border-radius: 3px;
  
  -webkit-box-shadow: 0px 1px 4px 0px rgba(194, 194, 194, 0.6) inset;
  box-shadow: 0px 1px 4px 0px rgba(224, 224, 224, 0.6) inset;
  
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
form div + div {
    margin-top: 1em;
}
form {
  
    font: 1em sans-serif;
    max-width: 400px;
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1em;
}
  
  input[type=text],
  input[type=number],
  input[type=email],
  textarea,
  fieldset {
    width : 100%;
    border: 1px solid #333;
    box-sizing: border-box;
  }
  
  input:invalid {
    box-shadow: 0 0 5px 1px rgb(107, 93, 192);
  }
  
  input:focus:invalid {
    box-shadow: none;
  }
  .button {
    padding-left: 90px; 
}
button {
    width: 100%;
    height: 40px;
    cursor: pointer;
    background: #5F7C8A;
    color: white;
    border: 0;
    border-radius: 20px;


}
